<%- include('partials/_header') %>
    <div class="container" style="background-image: url('/img/backgound-Internet-works.png');">
        <div class="login-page">
            <div class="container_form">
             
              <form class="login-form" method="POST" action="/login" >
                <input type="email" placeholder="username" name="email" required/>
                <input type="password" placeholder="password" name="password" required/>
                <button type="submit">login</button>
                
              </form>
            </div>
          </div>
    </div>
    <%- include('partials/_footer') %>